<!-- IMPORT TEMPLATE FROM base.html -->
{% extends 'base.html' %}

<!-- HEAD SECTION FOR THE HTML DOCUMENT -->
{%block head %}
{% endblock %}

<!-- BODY SECTION FOR THE HTML DOCUMENT -->
{%block body %}


<div class="main">
    <div class="next-page-button">
        <a href="/contact" class="page-arrows" title="next-page"><em class='fas fa-arrow-right'></em></a>
        <p class="page-button-name">Contact</p>
    </div>

    <div class="previous-page-button">
        <a href="/rent" class="page-arrows" title="previous-page"><em class='fas fa-arrow-left'></em></a>
        <p class="page-button-name">Rent</p>
    </div>

    <div class="content">
        <div id="about-page">
            <div class="biography">
                <table class="vertical">
                    <tr>
                        <td class="table-image">
                            <img src="/static/images/mert.png" alt="An image of Mert Guler">
                        </td>
                        <td id="mert-info" class="person-info">
                            <h3>Mert Guler</h3>
                            <p>Born in 1994.<br>Graduated from Departmen of Civil Engineering of Middle East
                                Technical University in 2019.<br>Currently a Computer Programming student from
                                Sault and Trios College.</p>

                        </td>
                    </tr>
                </table>
                <hr>
                <table class="vertical">
                    <tr>
                        <td id="berkay-info" class="person-info">
                            <h3>Berkay Colak</h3>
                            <p>Born in 1995.<br>Graduated from Departmen of Mechanical Engineering of Baskent
                                University in 2019.<br>Currently a Computer Programming student from Sault and
                                Trios College.</p>
                        </td>
                        <td class="table-image">
                            <img src="/static/images/berkay.png" alt="An image of Berkay Colak">
                        </td>
                    </tr>
                </table>
            </div>

            <div class="company-history">
                <h3>Company History</h3>
                <p class="history-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
                    ratione aliquam hic sed
                    totam ipsum distinctio earum. Quia eos ullam enim aliquam? Libero iusto totam itaque unde
                    delectus quidem doloribus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
                    ratione aliquam hic sed
                    totam ipsum distinctio earum. Quia eos ullam enim aliquam? Libero iusto totam itaque unde
                    delectus quidem doloribus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
                    ratione aliquam hic sed
                    totam ipsum distinctio earum. Quia eos ullam enim aliquam? Libero iusto totam itaque unde
                    delectus quidem doloribus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
                    ratione aliquam hic sed
                    totam ipsum distinctio earum. Quia eos ullam enim aliquam? Libero iusto totam itaque unde
                    delectus quidem doloribus?</p>
            </div>

            <div class="certificates">
                <h3>Certificates</h3>
                <ul>
                    <li>Certicate 1</li>
                    <li>Certicate 2</li>
                    <li>Certicate 3</li>
                    <li>Certicate 4</li>
                </ul>
            </div>

        </div>

    </div>
</div>


{% endblock %}