<!-- IMPORT TEMPLATE FROM base.html -->
{% extends 'base.html' %}

<!-- HEAD SECTION FOR THE HTML DOCUMENT -->
{%block head %}
{% endblock %}

<!-- BODY SECTION FOR THE HTML DOCUMENT -->
{%block body %}

<div class="main">
    <div class="previous-page-button">
        <a href="/rent" class="page-arrows" title="previous-page"><em class='fas fa-arrow-left'></em></a>
        <p class="page-button-name">Rent</p>
    </div>

    <div class="next-page-button">
    </div>

    <div class="content book-page">

        <!-- IF CAR 1 IS SELECTED, THIS HTML CODE WILL BE EXECUTED -->
        {% if book_type == '1' %}

        <div class="booking-left">
            <div class="car-details">
                <div class="car-image">
                    <img src="/static/images/rent1.jpeg" alt="An image of the rental car.">
                </div>
                <div class="book-info">

                    <h3>Mustang '68</h3>
                    <ul>
                        <li>Body Type: Sedane</li>
                        <li>Transmission: Manual</li>
                        <li>Drivetrain: RWD</li>
                        <li>Stock Status: <span class="available">Available</span></li>
                    </ul>
                    <h3>120 C$ per day</h3>
                </div>
            </div>
        </div>

        {% endif %}

        <!-- IF CAR 2 IS SELECTED, THIS HTML CODE WILL BE EXECUTED -->
        {% if book_type == '2' %}

        <div class="booking-left">
            <div class="car-details">
                <div class="car-image">
                    <img src="/static/images/rent2.jpeg" alt="An image of the rental car.">
                </div>
                <div class="book-info">

                    <h3>Mustang 2020</h3>
                    <ul>
                        <li>Body Type: Sedane</li>
                        <li>Transmission: Automatic</li>
                        <li>Drivetrain: RWD</li>
                        <li>Stock Status: <span class="available">Available</span></li>
                    </ul>
                    <h3>150 C$ per day</h3>
                </div>
            </div>
        </div>

        {% endif %}

        <!-- IF CAR 3 IS SELECTED, THIS HTML CODE WILL BE EXECUTED -->
        {% if book_type == '3' %}

        <div class="booking-left">
            <div class="car-details">
                <div class="car-image">
                    <img src="/static/images/rent3.jpeg" alt="An image of the rental car.">
                </div>
                <div class="book-info">

                    <h3>Mustang '58</h3>
                    <ul>
                        <li>Body Type: Sedane</li>
                        <li>Transmission: Manual</li>
                        <li>Drivetrain: RWD</li>
                        <li>Stock Status: <span class="available">Available</span></li>
                    </ul>
                    <h3>140 C$ per day</h3>
                </div>
            </div>
        </div>

        {% endif %}

        <div class="payment-form">
            <h3>Pickup Information</h3>

            <form action="/payment-confirmed" method="POST" class="form" target="_blank">
                <p>
                    <label for="start-date">Start Date:</label>
                    <input type="date" id="start-date" name="start-date" required>
                </p>
                <p>
                    <label for="start-time">Start Time:</label>
                    <input type="time" id="start-time" name="start-time" required>
                </p>
                <p>
                    <label for="end-date">End Date:</label>
                    <input type="date" id="end-date" name="end-date" required>
                </p>
                <p>
                    <label for="end-time">End Time:</label>
                    <input type="time" id="end-time" name="end-time" required>
                </p>

                <input type="radio" id="bring-car" name="car-delivery" value="bring-car" required>
                <label for="bring-car">Bring to my address (use address from the payment
                    information)</label><br>
                <input type="radio" id="pickup-car" name="car-delivery" value="pickup-car" required>
                <label for="pickup-car">Pick up from the store</label>
                <h3>Payment Information</h3>
                <p>
                    <label for="name">Name:</label>
                    <input id="name" type="text" name="name" required>
                </p>

                <p>
                    <label for="address">Address:</label>
                    <input id="address" type="text" name="address" required>
                </p>

                <p>
                    <label for="cc-number">Credit Card Number:</label>
                    <input type="number" id="cc-number" name="cc-number" onKeyPress="if(this.value.length==16) false;"
                        required>
                </p>

                <p id="cvv-expiry">
                    <label for="cvv">CVV:</label>
                    <input type="number" id="cvv" name="cvv" onKeyPress="if(this.value.length==3) false;" required>
                    <label for="expiry-date">Expiry Date (month and year):</label>
                    <input type="month" id="expiry-date" name="expiry-date" required>
                </p>

                <p id="checkbox">
                    <input type="checkbox" id="check" name="check" required>
                    <label for="check">I acknowledge that I have read and understood all the policies and
                        procedures in its entirety and agree to abide by them.</label>
                </p>

                <p>
                    <input type="submit" name="submit" id="submit" value="Confirm Payment">
                </p>

            </form>
        </div>


    </div>
</div>

{% endblock %}