<!-- IMPORT TEMPLATE FROM base.html -->
{% extends 'base.html' %}

<!-- HEAD SECTION FOR THE HTML DOCUMENT -->
{%block head %}
{% endblock %}

<!-- BODY SECTION FOR THE HTML DOCUMENT -->
{%block body %}

<div class="main">
    <div class="previous-page-button">
        <a href="/about" class="page-arrows" title="previous-page"><em class='fas fa-arrow-left'></em></a>
        <p class="page-button-name">About Us</p>
    </div>

    <div id="contact-page" class="content">
        <div id="form">
            <form action="mailto:mert.guler@triosstudent.com?cc=berkay.colak@triosstudent.com&subject=" method="POST"
                enctype="text/plain">
                <p>
                    <label for="name">Name:</label>
                    <input id="name" type="text" name="name" placeholder="Enter your name" required>
                </p>

                <p>
                    <label for="email">E-mail:</label>
                    <input id="email" type="email" name="email" placeholder="Enter 'your' e-mail address" required>
                </p>

                <p>
                    <label for="message">Message:</label>
                    <textarea name="message" id="message" cols="30" rows="10"
                        placeholder="Write your message in this area." required></textarea>
                </p>

                <p>
                    <input type="submit" name="submit" id="submit" value="Submit your message!">
                </p>
            </form>
        </div>

        <iframe id="youtube-video" width="640" height="360" src="https://www.youtube.com/embed/dcsXdT5oahg"
            title="YouTube video player" style="border: none;"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <div class="social-media">
            <a href="https://www.facebook.com/" target="_blank"><img class="social-media-icons"
                    src="/static/images/facebook.png" alt="Facebook icon"></a>
            <a href="https://twitter.com/?lang=en" target="_blank"><img class="social-media-icons"
                    src="/static/images/twitter.png" alt="Twitter icon"></a>
            <a href="https://www.youtube.com/" target="_blank"><img class="social-media-icons"
                    src="/static/images/youtube.png" alt="Youtube icon"></a>
            <a href="https://www.instagram.com/" target="_blank"><img class="social-media-icons"
                    src="/static/images/instagram.png" alt="Instagram icon"></a>
            <a href="https://www.whatsapp.com/" target="_blank"><img class="social-media-icons"
                    src="/static/images/Whatsapp.png" alt="Whatsapp icon"></a>
            <a href="https://www.linkedin.com/" target="_blank"><img class="social-media-icons"
                    src="/static/images/linkedin.png" alt="Linkedin icon"></a>
        </div>

    </div>
</div>

{% endblock %}