<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TriOS Auto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/fb6de55121.js" crossorigin="anonymous"></script>
</head>

<body id="payment-body">
    <div class="container">
        <div class="top-bar">

            <nav class="menu">

            </nav>
        </div>

        <div class="main">
            <div id="payment-page" class="content">
                <div class="payment-logo">
                    <img src="/static/images/logo.png" alt="TriOS Logo">
                    <h2>TriOS Auto</h2>
                </div>
                <div class="payment-approved">
                    <img src="/static/images/check_icon.png" alt="check icon">
                    <h2>Payment Received</h2>
                </div>

                <!-- START, END and DURATION TIMES FOR RENT WILL BE IMPORTED FROM BOOKING PAGE AND SHOWN HERE -->
                <p>Start Date: {{start_date}}</p>
                <p>End Date: {{end_date}}</p>
                <p>Total duration of rent: {{duration}} days</p>
                <p>Thank you for choosing TriOS Auto. {{customer_name}}'s order number is #{{order_no}}.</p>

                <button class="close-button" type="button" onclick="javascript:window.close()">Close Window</button>

            </div>
        </div>

        <footer class="footer">
            <div class="copyright-message"><img src="/static/images/logo.png" alt="TriOS Logo"> &copy; TriOS Corporate
                CA, Inc.
                All rights reserved.</div>
            <p class="footer-credit">Website designed by Berkay Colak & Mert Guler - 2022</p>
        </footer>
    </div>
</body>

</html>